<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission for camera -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />



    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/start_sprout"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecyclingApp"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".FindPasswordActivity" />
        <activity android:name=".UserProfileActivity"/>
        <activity android:name=".PhotoActivity"/>
        <activity android:name=".BlogsActivity"/>
        <activity android:name=".ScanActivity"/>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".DescriptionActivity"/>

        <activity
            android:name=".DeleteDialog"
            android:theme="@style/Theme.MyDialog" />
        <activity
            android:name=".ShowPasswordActivity"
            android:theme="@style/Theme.MyDialog"/>
        <activity
            android:name=".LogOutDialogue"
            android:theme="@style/Theme.MyDialog"/>


        <!-- Camera activity -->
        <activity
            android:name=".HomeCameraActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.recyclingapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
